  body {
    min-width: 557px;
    overflow-x: hidden;
  }
  #scan {
  	font-size:20px;
  	font-weight:bold;
  	margin-left: 120px;
  	width: 200px;
  	position: absolute;
  }
  #progress {
  	width: 60%;
  	margin-left: 20%;
  	display: none;
  }
  
  #suggestion {
  	border: 1px solid gray;
  	display: none;  	
  }
  
  #setting {
  	clear:both;
	font-size: 0.9em;
	color: #00f;
	padding: 3px 0 5px 0;
	float: right;
  }
  
  #setting_ok {
  	display: none;
  }
  
  #setting_div {
  	float: right;
  	background-color:#e3e3e3;
  	display: none;
  }
  
  #confirm {
  	display: none;
  }
  
  #confirm_label, #select_0 {
  	color: #f00000;
  	display: none;
  }
  
  #remove_completed {
  	color: #00f000;
  	display: none;
  }
  
  #option_prompt {
  	color: #111111;
  	float: right;
  }
  
  #option_input {
  	float:  right;
  }
  
  button:hover {background-color: #e3e3e3;}
  button { height:24px; border:1px solid #aaa; cursor:pointer; }
  
  #remove button {float: right;}
